
@import url("https://component-vishalg8454.netlify.app/components/main.css");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;}

  :root {
    --navbg:#1D1F26;
    --navlink:#E2FFAE;
    --hovercol:#FF7B6C;
    --logo:#00FFBF;

  }


body{
    
    font-family: 'Roboto', sans-serif;
    height: 100vh;

}




.navmainbody
{
  
display: flex;
justify-content:space-between;
letter-spacing: 0.05cm;
background-color: var(--navbg);
align-items: baseline;
box-shadow:3px 5px 5px #9aa2a2;
position:fixed ;
top:0;
width: 100%;
z-index: 1;

}
a{
    padding:5px;
    color:var(--navlink);
    margin-left:10px;
    margin-right:10px;
    font-size: 16px;
    text-decoration:none;
    font-weight: 500;
   
}
.register
{
justify-self: flex-end;

}
.login
{
    justify-self: flex-end;
}
.forum
{
color:var(--logo);
font-weight: 700;
padding:5px;
margin-left:10px;
margin-bottom: 0px;

}
a:hover
{
  color:var(--hovercol)
}
.avatar
{
  height: 25px;
  width:25px;
  color:black;
  margin-right:20px;
  background-color:var(--navlink);
}
.homeandtitle
{
  display: flex;
  align-items: baseline;
}
.avatar:hover
{
cursor: pointer;
color:var(--hovercol);
background-color:black;


}
.avatar:active
{
  color:var(--logo)
}
.miniwindow
{
  display: none;
}

.activestate
{
  position:absolute;
 font-weight: 300; 
  padding: 5px;
display: flex;
flex-direction: column;
position: absolute;
align-items: center;
top: 42px;
right: 8px;
color:white;
background-color: black;
border-radius: 15px;
}
.activestate p
{
  margin-bottom: 2px;
  color:var(--logo);
  max-width: 150px;
}

.ulist
{
  padding-left: 0;
  margin:0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items:center;
list-style: none;
}
.activestate hr{
  margin:0;
  border: 1px solid var(--logo);
 width:90%;
}
.ulista
{
  margin:auto;
}
.container
{
  margin-top: 70px;
}

